name: markdown

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Run mdl
        uses: actionshub/markdownlint@main

      - name: AutoCorrect
        uses: huacnlee/autocorrect-action@main
        with:
          args: "**.md --lint"
